<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>7th Students' Council Webpage</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <!-- Header with navigation links -->
    <header>
      <img src="{{ url_for('static', filename='asrjc_photo.png') }}" alt="ASRJC Logo Photo" width=20%>
      <table class=table>
          <tr>
              <td><a href="{{ url_for('dashboard') }}">Home</a></td>
              <td><a href="{{ url_for('task_tracker') }}">Task Tracker</a></td>
              <td><a href="{{ url_for('council_events') }}">Council Events</a></td>
              <td><a href="{{ url_for('roles_and_responsibilities') }}">Roles and Responsibilities</a></td>
              <td><a href="{{ url_for('logout') }}" class=right-align>Log Out</a></td>
              <!-- Add more links as needed -->
          </tr>
      </table>
    </header>

    <main>
      <h1>Task Tracker</h1>
      <h2>Your Progress: {{ task_percentage }} completed!</h2>
      <progress value="{{ percentage_completed }}" max=100>{{ percentage_completed }}</progress>
      <br><br>
      <h3>Completed tasks:</h3>
        {% if completed_tasks %}
          <ol>
          {% for task in completed_tasks %}
              <li>{{ task[0] }}</li>
            {% endfor %}
          </ol>
          {% else %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No tasks completed yet :/</p>
          {% endif %}

        <h3>Incomplete tasks:</h3>
          {% if incomplete_tasks %}
            <ol>
              {% for task in incomplete_tasks %}
                <li>{{ task[0] }}</li>
              {% endfor %}
            </ol>
          {% else %}
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No incomplete tasks. YAY!!</p>
            {% endif %}

      <br><br><br>
      <p><strong>Fill up one of these sections to either create, update, or delete a task!</strong></p>
      <form action='/task_tracker' method="post">
        <h3>Add a new task!</h3>
        <label for=new-task>New task: </label>
        <input type="text" id="new-task" name="new-task">
        <br>
        <label for=status>Status: </label>
        <input type=text id=status name=status>
        <br>
      <br><br>
        <h3>Update your task!</h3>
        <label for=existing-task>Existing task: </label>
        <input type="text" id='existing-task' name=existing-task>
        <br>
        <label for=updated-status>Updated Status: </label>
        <input type=text id=updated-status name=updated-status>
        <br><br>
        <h3>Delete a task</h3>
        <label for=delete-task>Task to delete: </label>
        <input type="text" id=delete-task name=delete-task>
            <br>
        <input type=submit value=Submit>
      </form>
    </main>
  </body>
</html>