* {
  margin-left: 2%;
  margin-right: 2%;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: 'Segoe UI';
  background-color: teal;
  color: white;
  width: 100%;
}

.centred-text {
  text-align: center;
}

table {
  background-color: None;
  color: black;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 2%;
  border-collapse: separate;
  border-spacing: 0;
}

td a {
  color: black;
  text-decoration: None;
}

td a:hover {
  color: orange;
  text-decoration: underline;
}

#message {
  color:red;
}

.underline {
  text-decoration: underline;
  text-align: center;
}

.right-align {
  text-align: right;
}

h3 {
  color: orange;
  line-height: 0.7;
}

.session-username {
  font-size: 120%;
}