<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Upcoming Events!</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <!-- Header with navigation links -->
    <header>
        <img src="{{ url_for('static', filename='asrjc_photo.png') }}" alt="ASRJC Logo Photo" width=20%>
      <table class=table>
          <tr>
              <td><a href="{{ url_for('dashboard') }}">Home</a></td>
              <td><a href="{{ url_for('task_tracker') }}">Task Tracker</a></td>
              <td><a href="{{ url_for('council_events') }}">Council Events</a></td>
              <td><a href="{{ url_for('roles_and_responsibilities') }}">Roles and Responsibilities</a></td>
              <td><a href="{{ url_for('logout') }}" class=right-align>Log Out</a></td>
              <!-- Add more links as needed -->
          </tr>
      </table>
    </header>

    <main>
        <h1 class=underline>Council Events</h1>
        <div>
            <h2>Current Events:</h2>
            <ul>
                <li>Night Study Programme</li>
            </ul>
        </div>
        <div>
            <h2>Upcoming Events:</h2>
            <ol>
                <li>Teachers'Day</li>
                <li>ASR Carnival</li>
                <li>ASR Haunted House</li>
            </ol>
        </div>
        <div>
            <h2>Past Events:</h2>
            <ul>
                <li>House Days</li>
                <li>Interhouse Games</li>
                <li>National Day/Racial Harmoeny Day Celebration</li>
                <li>Student Leaders Investiture</li>
            </ul>
        </div>
    </main>
  </body>
</html>