<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>7th Students' Council Webpage</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
    <script>
        // Check if the alert has been shown
        if (localStorage.getItem('alertShown') == 'false') {
            alert("Welcome, {{ session.username }}!");
            // Set the flag to true
            localStorage.setItem('alertShown', 'true');
        }
    </script>
    
    <!-- Header with navigation links -->
    <header>
      <img src="{{ url_for('static', filename='asrjc_photo.png') }}" alt="ASRJC Logo Photo" width=20%>
      <table class=table>
          <tr>
              <td><a href="{{ url_for('dashboard') }}">Home</a></td>
              <td><a href="{{ url_for('task_tracker') }}">Task Tracker</a></td>
              <td><a href="{{ url_for('council_events') }}">Council Events</a></td>
              <td><a href="{{ url_for('roles_and_responsibilities') }}">Roles and Responsibilities</a></td>
              <td><a href="{{ url_for('logout') }}" class=right-align>Log Out</a></td>
              <!-- Add more links as needed -->
          </tr>
      </table>
    </header>

    <main>
      <h1>Welcome to the 7th Students' Council's Page!</h1>
      {% if session.role %}
      <h2>Hello, <i>{{ session.role }}</i> <span class=session-username>{{ session.username }}!</span></h2>
      {% else %}
      <h2><i>Hello,</i> <span class=session-username>{{ session.username }}!</span></h2>
      {% endif %}
      <br><hr><br>
      <img src="{{ url_for('static', filename='students_council_phototaking.jpeg') }}" alt="Council Photo" width=100%>
    </main>
  </body>
</html>