<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students' Council Webpage Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script>
        // When login is successful and user is redirected
        localStorage.setItem('alertShown', 'false');
    </script>
    
    <header>
        <img src="{{ url_for('static', filename='asrjc_photo.png') }}" alt="ASRJC Logo Photo" width=20%>
        <h1>7th Students' Council Webpage Login</h1>
        <hr>
    </header>

    <main>
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}" id=message>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Login Form -->
        <form action='/login' method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Login">
        </form>
    </main>
</body>
</html>
