<!DOCTYPE html>

<html>
  <head>
    <meta charset='UTF-8'>
    <title>Roles and Responsibilities</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <!-- Header with navigation links -->
    <header>
      <img src="{{ url_for('static', filename='asrjc_photo.png') }}" alt="ASRJC Logo Photo" width=20%>
      <table class=table>
          <tr>
              <td><a href="{{ url_for('dashboard') }}">Home</a></td>
              <td><a href="{{ url_for('task_tracker') }}">Task Tracker</a></td>
              <td><a href="{{ url_for('council_events') }}">Council Events</a></td>
              <td><a href="{{ url_for('roles_and_responsibilities') }}">Roles and Responsibilities</a></td>
              <td><a href="{{ url_for('logout') }}" class=right-align>Log Out</a></td>
              <!-- Add more links as needed -->
          </tr>
      </table>
    </header>

    <main>
      <h1 class=underline>Roles and Responsibilities</h1>
      <br>
      <div>
        <h3><strong>Functions of the Students' Council</strong></h3><br>
        <ol>
          <li>Energise the Collge to a common identity and spirit.</li>
          <li>Engage with the cohort to understand and seek to fulfil their needs and aspirations.</li>
          <li>To serve the College.</li>
        </ol>
      </div>
      <div>
        <h3><strong>Executive Committee (ExCo)</strong></h3><br>
        <ol>
          <li>Envisions what the college spirit lokks like in ASR and sets the direction for the current cohort to move the college towards that vision.</li>
            <ul>
              <li>This includes an awareness of what is going on in the college and the activities students are involved in.</li>
            </ul>
          <li>Coordinates the work within the Council to achieve the direction. This includes, but is not limited to:</li>
            <ul>
              <li>Monitoring the progeress of each work group and ensuring that the work group's objectives are aligned to the direction.</li>
              <li>Planning and running CCA sessions.</li>
            </ul>
          <li>Coordinates the Council in keeping in touch with the needs and aspirations of the student population and engaging with the relevant stakeholders to advocate for their peers.</li>
          <li>Take care of the wellbeing of the Council members.</li>
          <li>Responsible for the development of the new intake of the Council.</li>
        </ol>
      </div>
      <div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given the above collective functions of the ExCo, the respective roles and responsibilities of each position are as follows:</p>
        <ol>
          <li><strong>President</strong></li>
            <ul>
              <li>To ensure that the Council is aligned to the direction and works to achieve the direction.</li>
              <li>To reach out to relevant stakeholders outside of Council to forge partnerships to achieve the direction.</li>
              <li>To ensure that the work within Council is coherent and working in concert with each other to achieve the direction.</li>
              <li>To ensure that Council members are meaningfully deployed and engaged and that their wellbeing is taken into account.</li>
            </ul>
          <li><strong>Vice-Presidents</strong></li>
            <ul>
              <li>To support the President in ensuring that the Council is aligned to the direction and works to achieve the direction.</li>
              <li>To support the President in reaching out to relevant stakeholders outside of Council to forge partnerships to achieve the direction.</li>
              <li>To support the President in ensuring that the work within Council is coherent and working in concert with each other to achieve the direction.</li>
              <li>To support the President in ensuring that Council members are meaningfully deployed and engaged and that their wellbeing is taken into account.</li>
            </ul>
          <li><strong>Student Welfare Committee Head</strong></li>
            <ul>
              <li>To ensure that the Council is constantly able to understand the needs and aaspirations of the student population.</li>
              <li>To ensure that the needs of the student population are constructively represented to the college.</li>
              <li>To work with the House Captains in planning initiatives/activities that serve to build up College Spirit.</li>
            </ul>
          <li><strong>Communications Committee Head</strong></li>
            <ul>
              <li>Directs the narrative of the college through platofrms inclduing but not limited to social media, noticeboards and the interactive television.</li>
              <li>Coordinates the work of all social media platforms, including asr.jcians and asr.sc and the House Instagram pages.</li>
              <li>Streamlines all external Communication of the Council.</li>
            </ul>
        </ol>
      </div>
      <div>
        <h3><strong>House Captains</strong></h3><br>
        <ul>
          <li>Work with the ExCo in planning initiatives/activities that serve to build up the House Spirit to achieve a strong College Spirit.</li>
          <li>Work with the ExCo to constantly be aware of the needs and aspirations of the House population and to constructively repressent them to the College during Orientation.</li>
          <li>Lead the College Ambassadors in supporting initiatives/activities that serve to build up House and College Spirit.</li>
        </ul>
      </div>
    </main>
  </body>
</html>
